<!DOCTYPE html>
<html ng-app="App">
<head>
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />
    <link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    
    <style type="text/css">
        body
        {
            overflow-x: hidden;
            background: #008080;
        }
        
        img
        {
            width: 50px;
            height: 50px;
        }
        
        #dispModal 
        {
            background: #F2F2F2;
        }        
    </style>
   
    <script src="scripts/jquery.js" type="text/javascript"></script>
    <script src="scripts/angular.js" type="text/javascript"></script>
    <script src="scripts/angular-touch.js" type="text/javascript"></script>
    <script src="scripts/bootstrap.js" type="text/javascript"></script>
    <script src="scripts/vote.js" type="text/javascript"></script>
</head>
    <body ng-controller="voteMachineCtrl">
        
        <div id="page" class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        Please press a button to cast your vote.
                    </div>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn btn-large btn-primary" type="button" ng-click="castVote('A')">A</button>    
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn btn-large btn-info" type="button" ng-click="castVote('B')">B</button>    
                    </div>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn btn-large btn-success" type="button" ng-click="castVote('C')">C</button>    
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn btn-large btn-warning" type="button" ng-click="castVote('D')">D</button>    
                    </div>
                </div>
            </div>

           <!-- <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn btn-large btn-danger" type="button" ng-click="castVote('E')">E</button>    
                    </div>
                </div>
            </div> -->
            
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        Send your boaring level
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" class="input-append" style="margin-top: 1em;">
                        <input id="boaringRange" type="range" name="points" min="0" max="100" step="1" size="100" ng-model="boaringLevel">
                        <label style="display:inline;margin-right: 1em;" id="boaringDisplay" >{{boaringLevel}}%</label>
                        <label style="display:inline;margin-right: 1em;" id="dispFallback" >%</label>
                    </div>
                </div>
            </div>           
            
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1em;">
                        <button class="btn" type="button" ng-click="castVote('T')">Test Connection</button>    
                    </div>
                </div>
            </div>
            
            <div class="row-fluid">
                <div class="span12">
                    <div align="center" style="margin-top: 1.5em;" ng-show="loading" >
                        <img src="images/ajax-loader.gif" alt="Loading" />
                    </div>
                </div>
            </div>

        </div>

       
     <!-- Modal -->
    <div id="dispModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                x</button>
        </div>
        <div class="modal-body">
            <div id="alertType" class="alert alert-success">
                <span id="message"></span>
            </div>
        </div>
    </div>       

    </body>
</html>
